body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #332233, #2575fc);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #ffffff10;
     background-color: #050404;
    padding: 2rem;
    
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    width: 300px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    font-weight: bold;
}

form input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 0.3rem;
}

button {
    margin-top: 1.5rem;
    padding: 0.7rem;
    background-color: #00b894;
    border: none;
    border-radius: 5px;
    color: rgb(3, 3, 3);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #019875;
}

a {
    margin-top: 1rem;
    color: #fff;
    text-decoration: underline;
    font-size: 0.9rem;
}
#login-btn {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: #00b894;  /* A golden color for contrast */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;  /* Make the button stretch the full width */
}

#login-btn:hover {
    background-color: #e67e22;  /* Darker golden color on hover */
}
.heading{
    background-color: #050404;
    color: white;
    display: flex;
    justify-content: center;
    
}